h1 {
    color: #FFFFFF;
    border: solid;
    margin: 50px;
    padding: 25px;
    margin-left: 650px;
}
.header{
    border: solid;
    background-color: #AF1277;
    display: flex;
    justify-content: space-between;
}
.menu{
    padding-top: 80px;
    background-color: #AD67FF;
} 
.games{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #F08080;
    border: solid;
}
.subgames{
    margin: 25px;
    padding: 10px;
    border-style: dotted;
    border-color: #000000;
}
.socialMedia{
    display: flex;
    justify-content: flex-end;
}
.socialMedia a{
    margin: 5px;
    border-style: dashed;
    border-width: 2px;
    border-radius: 5px;
    border-color: black;
}
p,h2{
    text-align: center;
}
body{
    background-color: #FFE4C4;
}
a:link{
    color: #FFFFFF;
}
a:visited{
    color:aquamarine;
}
.subgames{
    position: relative;
}
.subgames h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}
.subgames:hover h3{
    opacity: 1;
}
.subgames:hover img{
    opacity: 0.33;
}
